<form action="/api/deleteProduct" method="post">
  <H1>BORRAR PRODUCTO POR _ID</H1>

  <label for="_id">_ID:</label>
  <input type="text" id="_id" name="_id" required>

  <button type="submit" class="my-button">Eliminar producto</button><br>
  
  <button type="button" class="my-button btn-warning"><a href="/api/products" class="a">Volver</a></button>

</form>

<script src="/js/index.js"></script>